html {
    /* some global settings */
    font-size: 10px;
    background: rgb(36, 36, 36);
}

body { 
    /* some settings for the main part of the text. */
    text-align: center;
    font-size: 1.6rem;
    line-height: 1.5;
    color: rgb(175, 175, 175);
    margin: 0px ;
}

/* .img-div { 
    ;
} */

img { 
    max-height: 700px;
    max-width: 100%;
    display: block;
    margin: auto;
}

figcaption { 
    font-style: italic;
    box-sizing: content-box;
    max-width: 500px;
    /* text-align: center; */
    margin-left: auto;
    margin-right: auto;
}

#tribute-info {
    margin-left: auto; 
    margin-right: auto; 
    max-width: 1000px;
}

a { 
    color: rgb(52, 116, 255);
}

h1 {
    font-size: 56px;
}